body {
    background-color: lightblue;
}

.animatedText {
    font-family: Pixelicious, monospace;
    font-size: 1.5em;
    text-transform: uppercase;
    color: transparent;
    filter: blur(0.3px);
    animation: 2s ease-in-out infinite alternate pulse;
}
